<h3 align="center" class="page-title">Edit Information for <%= @major.majorname %> Major</h3>

<%= render 'form', major: @major %>

<%= link_to "Back to #{@major.majorname} Homepage", major_path(@major) %>
