<h1 align="center">About this application</h1>

<div class = "center jumbotron">
    <p>
        This applocation was developed for searching Oregon State University's course reviews by using Ruby on Rails. 
        Currently, the application is in a alpha stage and run only by one developer.
        I am looking for designer and front-end engineers who is able to improve the design and User Experience of this application.
        If you have interest to work on this application, please feel free to contact to following address muraokan@oregonstate.edu.
    <p>
</div>