<h1 align="center">About this application</h1>

<div class="center jumbotron">
    <p>
        This applocation was developed for searching Oregon State University's course reviews by using Ruby on Rails. 
        Currently, the application is in a alpha stage and run only by one developer.
        I am looking for designer and front-end engineers who is able to improve the design and User Experience of this application.
        If you have interest to work on this application, please feel free to contact to following address <a href="mailto:muraokan@oregonstate.edu?subject=PortfolioContact">muraokan@oregonstate.edu</a>.
        Also Please take a look at my portfolio site if you would like to see more service and my personal info.
    </p>
    <h3><a href="https://muraokan-portfolio-application.herokuapp.com/">Link to the portfolio site</a></h3><br>
    <hr>
    <p>
        オレゴン州立大学の授業を検索、管理、新規作成を出来るアプリケーションです。Ruby On Railsを使い一人で作成したのですがサーバーサイド、デザインやフロントエンドなどでお手伝いいただける方を募集しています。
        将来的にはオレゴン州立大学に限らずこのアプリケーションを他の大学にも使ってもらえるようなサービスにしたいと思っています。
        興味のある方は是非こちらのメールアドレス <a href="mailto:muraokan@oregonstate.edu?subject=PortfolioContact">muraokan@oregonstate.edu</a> までご連絡ください。また私個人のポートフォリオサイトも宜しかったらご覧ください。
    </p>

    <h3><a href="https://muraokan-portfolio-application.herokuapp.com/">ポートフォリオサイトへのリンク</a></h3>
</div>