<div class = "center jumbotron">
    <h1>OSU Course Search</h1>

    <h2>About this application</h2>
        <br>
        <p>List of Courses - Display all courses with other students reviews at OSU</p>
        <p>Create New Course - You could create new course which currently does not exist</p>
        <p>Create New Review - You could create new reviews for existing course</p>
</div>