<div class="center jumbotron">
    <h1>OSU Course Search</h1>

    <h2><%= link_to "About this App", about_path %></h2>
        <br>
        <div class="row">
            <p>List of Courses - Check all current OSU courses</p>
            <p>Create New Course - Create new OSU course</p>
            <p>Create New Review - Create new reviews for OSU course</p>
        </div>
</div>