<%
=begin %>
<% if current_user.admin? %>
<% end %>
=end %>

<h3 align="center" class="page-title">Edit Course: <%= @course.coursename %></h1>

<%= render 'form' %>

<%= link_to "Back to Course Page", course_path(@course) %>