<h2 align="center">Course ID: <%= @score.course_id %></h2>

<div class = "well col-xs-8 col-xs-offset-2">
    <h4 class = "center description"><strong>Difficulty Scores:</strong></h4>
    <hr>
    <%= @score.difficulty %>
</div>